body,
html {
  height: 100%;
}

.profile {
  position: relative;
  height: 75vw;
  width: 75vw;
  border-radius: 5vw;
  margin-top: 5vw;
  max-height: 40rem;
  max-width: 40rem;
}

.profile .profile-img {
  height: 90vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bg-old-lace {
  --bs-bg-opacity: 1;
  background-color: #FFF7EB;
}

.bg-p-whip {
  --bs-bg-opacity: 1;
  background-color: #FFEDCA;
}

.bg-m-haze {
  --bs-bg-opacity: 1;
  background-color: #8E5572;
}

.bg-services {
  background-color: #faf8f6;
}

.bg-olive {
  background-color: #828039;
}

.f-pt-serif {
  font-family: "PT Serif", serif;
}

.text-gray {
  color: rgba(0, 0, 0, 0.55)
}

.m-haze-header {
  color: #8E5572;
}

.nav-link-color {
  color: rgba(0, 0, 0, 0.55);
}

a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.75)
}

.thanks-main {
  height: 100%;
}

.thanks-container {
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100vw;
  z-index: 999999;
}

.hero-section {
  margin-top: 152.84px;
}

.scroll-header {
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.contact-image {
  width: 75%;
  border-radius: 5px;
}

.footer-left, .footer-middle, .footer-right {
  text-align: center;
}

.footer-middle {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* --------------------------------------------------- Service cards */
/* Original Code: https://bootsnipp.com/snippets/92xNm */


.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

#services .card {
  border: none;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border: none;
  border-radius: 5%;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.frontside .card .card-body img {
  border-radius: 5%;
}

/* --------------------------------------------------- Testimonial */

.testimonial-card {
  border: none;
  cursor: pointer;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.testimonial-card:hover {

  background-color: #eee;

}

.testimonial-list {
  list-style: none;
}

/* --------------------------------------------------- Media Queries */

@media (min-width: 325px) {
  .header-container, .footer-container {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media (min-width: 576px) {
  .profile {
    height: 60vw;
    width: 60vw;
  }

  .profile .profile-img {
    height: 70vw;
  }
}

@media (min-width: 768px) {
  .profile {
    height: 50vw;
    width: 50vw;
  }

  .profile .profile-img {
    height: 60vw;
  }

  .footer-left {
    text-align: left;
  }

  .footer-middle {
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .profile {
    height: 40vw;
    width: 40vw;
  }

  .profile .profile-img {
    height: 50vw;
  }
}

@media (min-width: 1200px) {
  .profile {
    height: 35vw;
    width: 35vw;
  }

  .profile .profile-img {
    height: 42vw;
  }
}